.App {
  box-sizing: border-box;
  text-align: left;
  background-color: #282c34;
}


.App-header {
  background-color: #0d2e70;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(1px + 2vmin);
  color: white;
  padding-left: 200px;
}
#logo {
  height: 50px;
  width: 80px;
}
.routeLinks{
  margin-left: 200px;
}
li{
  display: inline;
  padding: 5px;
  margin-left: 10px;

}
.App-link {
  color: #61dafb;
}
