.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.navBar{
}
#logo {
        /* height: 100px;
        width: 200px; */
        margin-left: 200px;
        /* border: solid black 1px; */
      }
      .navLinks {
        margin-left: 600px;
        margin-top: -25px;
      
      }
      .routeLinks {
        align-items: center;
        font-size: 18px;
        margin-left: 200px;
        margin-top: 10px
      }
      
      li {
        display: inline;
        padding: 5px;
        margin-left: 10px;
      
      }