
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Rubik');
.App {
  box-sizing: border-box;
  text-align: left;
  /* background-color: #282c34; */
  /* background-image: url("gplaypattern.png"); */
 
  font-family: 'Noto Sans SC', sans-serif;
  transition:all 0.3s ease;
  /* position: fixed; */
}


.App-header {
  min-height: 5vh;
  display: inline-flex;
  width: 100%;
  font-size: calc(1px + 2vmin);
  /* margin-right: auto;
  margin-left: auto; */
  /* border-bottom: #282c34 solid 1px; */
  
}

.divider {
  border-bottom: rgba(40, 44, 52) solid 1px;
  margin-left: auto;
  margin-right: auto;
  /* border-style: ridge; */
  width: 80%;

}
a {
  color: #282c34;
  text-decoration: none;
  padding: 10px;
  opacity:0.75;
}
a:hover
{
  color: rgb(0, 255, 55);
  opacity:1;
}
main {
  position: relative;
  margin-top: 40px;
  height: 900px;
}
.mainCom {
    margin: 200px;
    margin-top: 0px;
    
}
.subHeader {
    color: #6e8de0;
}
.mainItem {
    /* margin: 200px; */
    color: #282c34;
}

