.landing {
    background-image: url("connected.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;

}
.body {

    margin: 200px;
    display: inline-flex;
    align-items: center;
    background-color: rgba(54, 54, 54, .2);
    /* background: linear-gradient(90deg,rgba(54, 54, 54, .5), rgba(54,54,54, 0)); */
    /* border-radius: 20%; */
}

/* #landingImg {
    height: 300px;
    width: 300px;
    border: black solid 1px;
    align-self: center;
} */

.landingText {
    flex-direction: column;
    width: 600px;
    margin-left: 100px;
}

.landingHead {
    color: #ffffff;
}
.description {
    color: #ffffff;
}
.companyName {
    margin-left: 20px;
    color: #ffffff;
    /* flex-direction: column; */
  }